/* font-family: 'Tourney', cursive; */

.header{
    font-family: 'Tourney', cursive;
    font-size: larger;
    text-align: center;
    color: rgb(204, 8, 8);
}
.sudoku-block{
    margin: auto;
    width: 440px;
    padding: 1%;
}
table {
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
tr:first-child td {
	border-top-color: black;
}
tr:nth-child(3n) td {
	border-bottom-color: black;
}
td {
	border: 1px solid lightgrey;
	height: 40px;
	width: 40px;
}

td:first-child {
	border-left-color: black;
}
td:nth-child(3n) {
	border-right-color: black;
}

input {
	padding: 0;
	text-align: center;
	border: 0;
	height: 40px;
	width: 40px;
	text-align: center;
}
input:hover {
	background: #eee;
}
