


*, *::after, *::before {
  box-sizing: border-box;
}
html body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #F5F4F4;
  color: #67575D;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 18px;
  line-height: 1.3;
}
p{
  font-family: 'Caveat', cursive;
  font-size: 240%;
}
.background-container {
  position: fixed;
  width: 50%;
  height: 100%;
  background: linear-gradient(to bottom, #f4b261 0%, #f1685f 100%);
  z-index: -1;
  text-align: center;
}

.container {
  border: 3px solid #132e3f;
	display: flex;
	flex-direction: column;
	text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 517px;
  height: 515px;
  background: #faeaea;
  box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  }
.header {
  font-size: larger;
  text-align: center;
  color: rgb(0, 0, 0);
}
.sudoku-block {
  margin: auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

table {
  border: 3px solid rgb(180, 174, 174);
  display: inline-block;
}
tr:first-child td {
  border-top-color: rgb(255, 255, 255);
}
tr:nth-child(3n) td {
  border-bottom-color: rgb(0, 0, 0);
}
td {
  border: 1px solid rgb(170, 170, 170);
  height: 40px;
  width: 40px;
}

td:first-child {
  border-left-color: rgb(255, 255, 255);
}
td:nth-child(3n) {
  border-right-color: rgb(0, 0, 0);
}

input {
background: scroll;
  padding: 0;
  text-align: center;
  font-size: larger;
  font:bolder;
  border: 0;
  height: 50px;
  width: 50px;
  text-align: center;
  color: rgba(255, 13, 13, 0.658);
}
input:hover {
  background: rgba(255, 145, 71, 0.87);
  columns: rgb(0, 0, 0);
}
button {
	width: 14rem;
	height: 3rem;
	font-size: 1em;
	background: hsla(51, 100%, 51%, 0.637);
	color: rgb(0, 0, 0);
	border: 0.15rem solid #000000;
	border-radius: 2.5rem;
	padding: 10px 10px;
	margin: 1rem;
	position: relative;
	z-index: 1;
	overflow: hidden;
  }
  
  button::after {
	content: "";
	background: #f78604;
	color: rgb(255, 255, 255);
	position: absolute;
	z-index: -1;
	padding: 0.85em 0.75em;
	display: block;
  }


.buttons-container{
	display: flex;
}
@media screen and (max-width: 800px) {
  .p{
    color: #F5F4F4;
  }
}
